h1 { font-family: 'Roboto Slab', serif; }
body { font-family: 'Roboto', sans-serif;
	min-width: 1000px; 
	 }

.headerbar { 
	/*margin-bottom: 150px; */
	background-color: #4ad737;
}

.logo {
	padding: 20 20 20 75;
	float: left;
	display: inline-block;
}

.nav {
	display: inline-block;
	float: right;
	font-family: 'Roboto Slab', serif;
	padding: 40 75 20 20;
}

a:link {
	text-decoration: none;
	font-size: 24px;
}

.clear {
	clear:both;
}

.container1 {
	display: inline-block;
	padding-left: 10%;
	float:left;
	width: 46%;
}

.container2 {
	display: inline-block;
	padding-left: 4%;
	padding-top: 40px;
	float: right;
	width: 35%;
}

.collections {
	margin-top: 60px;
	margin-left: 4%;
	margin-bottom: 4px;
	display: inline-block;
}

.imagetable {
	width: 100%;
}

.imgtab {
	width: 100%;

}
