h1 { font-family: 'Roboto Slab', serif; }
body { font-family: 'Roboto', sans-serif;
	min-width: 1000px; 
	 }
header { 
	/*margin-bottom: 150px; */
}

.logo {
	padding: 20 20 20 20;
	float: left;
	display: inline-block;
}

.nav {
	display: inline-block;
	float: right;
}

.clear {
	clear:both;
}

.container1 {
	padding-left: 4%;
	float:left;
	width: 46%;
}

.container2 {
	padding-left: 4%;
	float: right;
	width: 46%;
}

.collections {
	margin-top: 60px;
	margin-left: 4%;
	margin-bottom: 4px;
	display: inline-block;
}

.imagetable {
	width: 100%;
}

.imgtab {
	width: 100%;

}